<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>luv2code Company Home Page</title>
  </head>
  <body>
    <h2>luv2code Company Home Page</h2>
    <hr />
    <p>Welcome to the luv2code company home page!</p>

    <hr />

    <!-- mostrar user name y role -->
    <p>
      User: <span sec:authentication="principal.username"></span>

      <br /><br />

      Role(s): <span sec:authentication="principal.authorities"></span>
    </p>

    <!-- Añadir un link que apunte a /leaders ... esto es para los managers -->
    <div sec:authorize="hasRole('MANAGER')">
      <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (Only for Manager peeps)
      </p>
    </div>

    <!-- Añadir un link que apunte a /systems ... esto es para los admins -->
    <div sec:authorize="hasRole('ADMIN')">
      <p>
        <a th:href="@{/systems}">IT Systems Meeting</a>
        (Only for Admin peeps)
      </p>
    </div>

    <hr />

    <!-- Añadir un botón logout -->
    <form action="#" th:action="@{/logout}" method="POST">
      <input type="submit" value="Logout" />
    </form>
  </body>
</html>
