<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom Login Page</title>
  </head>
  <body>
    <h3>My Custom Login Page</h3>

    <form action="#" th:action="@{/authenticateTheUser}" method="post">
      <!-- Spring Security Filters leerá los datos del formulario y autenticará el usuario -->
      <!-- Recordar que hay que usar los name: username y password -->
      <p>User name: <input type="text" name="username" /></p>
      <p>Password: <input type="password" name="password" /></p>
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
